.CalcContainer{
    background: white;
    padding: 2rem 2rem 0rem 2rem ;
    border-radius: 0 0.5rem 0 0;
}

.SummaryContainer{
    background: white;
    padding: 0rem 2rem 2rem 2rem ;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    color:#575c63 
}

.RowContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;   
    margin-bottom: 1.5rem;    
}

.ColumnContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;       
}

.RowContainer h2{
    border-top: solid;
    border-color: #0097cf;
}

.c1{
    font-size: 1.1rem;
}

.c1 p{
    margin: 0
}

.c1 > p:nth-child(2) {
    font-weight: 700;
    color: #0097cf;
  }

  .SummarySectionTitle{
    color: #0097cf;
    border-bottom: 2px solid #0097cf;
    font-size: 1.4rem;
  }
  .RatesSum{
    color: #0097cf;
    border-bottom: 3px solid #0097cf;
    text-align: end;
    margin-left: 50%;
    margin-top: 2rem;
    padding: 0 1rem 0 0;
  }

  @media only screen and (max-width: 600px) {
    .CalcContainer{
        padding: 1rem 1rem 0rem 1rem;
        border-radius: 0.5rem 0.5rem 0 0;
    }

    .SummaryContainer{
        padding: 0rem 1rem 1rem 1rem;
        border-radius: 0.5rem;
    }

    .RowContainer{
        margin: 0;
        flex-direction: column;
        align-items: center;

    }

    .ColumnContainer{
        align-items: center;
    }

    .c1{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .c1 p{
        text-align: center;
    }

    .RowContainer h2{
        font-size: 1.4rem;
        text-align: center;
    }

    .RatesSum{
        margin-left: 20%;
    }
  }