.val{
    margin: 0;
    width: 100%;
    font-size: 1.2rem;
    border-bottom: 2px solid #0097cf;
    font-weight: 500;
    padding: 0.5rem;
    text-align: center;
}

.outputContainer{
    width: 45%;
    margin: 1rem;
}

.w25{
    width: 25%;
}

@media only screen and (max-width: 600px) {
    .outputContainer{
        width: 60%;
        margin: 0.5rem;
    }

    .val{
        width: auto;
        border-width: 1px;
    }
  }