.LayoutContainer{
    width: 50%;
    margin: auto;
}

@media only screen and (max-width: 1200px) {
    .LayoutContainer{
        width: 90%;
    }
  }
@media only screen and (max-width: 600px) {
    .LayoutContainer{
        width: 95%;
    }
  }