.container{
  background-image: url('./images/app-background.jpg');
  min-height: calc(100vh - 190px);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 100px 0;
}