.container{
  background-image: url('./images/app-background.jpg');
  min-height: calc(100vh - 190px);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 100px 0;
}

@media only screen and (max-width: 600px) {
  .container{
    padding: 20px 0 70px 0;
  }
}