@import url("https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap");

.menu {
    display: flex;
    list-style: none;
    margin: auto 0;
    padding: 0.6em 0 0 0;
  }
  
  .NavigationItem {
    box-sizing: border-box;
    height: 48px;
    width: 250px;
    line-height: 48px;
    padding: 0 1.5em;
    margin: 1px;
    transition: 0.5s linear all;
    background: #c18c88;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    user-select: none;
    text-decoration: none;
    clip-path: polygon(10% 0%, 0% 100%, 95% 100%, 100% 50%, 95% 0%);
    shape-outside: polygon(10% 0%, 0% 100%, 95% 100%, 100% 50%, 95% 0%);
  }
  
  .NavigationItem i,svg {
    margin: 0px 7px;
    color:white;
    cursor:inherit;
  }

  ul > a:nth-child(2) {
    transform: translateX(-5%);
  }
    
  .Active{
    color: #fff;
    cursor: default;
    background: #ff3d2e;
  }

  .Disabled{
    cursor: not-allowed;
    background: gray;
    color: lightgray;
  }

  @media only screen and (max-width: 600px) {
    .menu {
      padding: 0;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 2;
    }

    .NavigationItem {
      border-radius: 6px;
      width: 50%;
      clip-path: none;
      shape-outside: none;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    ul > a:nth-child(2) {
      transform: none;
    }
  }